---
import Image from 'astro/components/Image.astro';
import "@fontsource/open-sans/500.css";
import background from "@/content/images/background.jpg";
import openSansWoff from "@fontsource/open-sans/files/open-sans-cyrillic-500-normal.woff?url";
import "../styles/global.css";
import keywords from "@/content/keywords.json";
import YandexMetrica from "@/components/YandexMetrica.astro";

const title = 'Игорь Un1ver5e Бабин';
const description = 'Личный сайт-визитка Игоря Un1ver5e Бабина';
const image = new URL('/me.jpg', Astro.url).href;
const metaTags : { name: string, content: string }[] = [
	{name: 'description', content: description},
	{name: 'keywords', content: keywords.join(',')},
	{name: 'twitter:title', content: title},
	{name: 'twitter:description', content: description},
	{name: 'twitter:creator', content: '@un1ver5e'},
	{name: 'twitter:site', content: '@un1ver5e'},
	{name: 'og:type', content: 'website'},
	{name: 'og:site_name', content: 'Un1ver5e.Tech'},
	{name: 'og:logo', content: '/favicon.jpg'},
	{name: 'og:title', content: title},
	{name: 'og:description', content: description},
	{name: 'og:url', content: Astro.url.href},
	{name: 'twitter:image', content: image},
	{name: 'twitter:card', content: 'summary_large_image'},
	{name: 'og:image', content: image},
	{name: 'og:image:alt', content: title}
]
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/jpeg" href="/favicon.jpg" />
		<link rel="preload" as="font" href={openSansWoff} type="font/woff2" crossorigin="anonymous" />
		<YandexMetrica />
		<meta name="generator" content={Astro.generator} />
		{metaTags.map(mt => <meta name={mt.name} content={mt.content} />)}
		<title>Игорь Un1ver5e Бабин</title>
	</head>
	<body class="flex flex-col relative">
		<Image src={background} alt="" priority class="size-full absolute z-0 blur-xs" />
		<main class="mx-auto flex flex-col items-center gap-3 p-5 pb-40 text-center max-w-2xl min-h-dvh z-10 bg-background">
			<slot />
		</main>
	</body>
</html>